@{
    ViewData["Title"] = "Blog";
}
@model List<BlogVM>

<section class="section-side-image clearfix">
    <div class="img-holder col-md-12 col-sm-12 col-xs-12">
        <div class="background-imgholder" style="background:url(http://via.placeholder.com/1500x1000);"><img class="nodisplay-image" src="http://via.placeholder.com/1500x1000" alt="" /> </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 clearfix nopadding">
                <div class="header-inner less-height">
                    <div class="overlay">
                        <div class="text text-center">
                            <h3 class="uppercase text-white less-mar-1 title">Blog</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class=" clearfix"></div>
<!--end header section -->
<section class="sec-padding section-light">
    <div class="container">
        <div class="row ">

            @foreach (var item in Model)
            {

                <div class="col-md-6 col-sm-6 col-xs-12 margin-bottom-2">
                    <div class="ce-feature-box-36 margin-bottom">
                        <img src="~/images/blog/@item.ThumbnailName" alt="" class="img-responsive" />
                        <div class="text-box">
                            <p class="text-primary">@item.CreatedDate</p>
                            <h3 class="title font-weight-4"><a asp-action="Details" asp-controller="Blog" asp-route-id="@item.Id">@item.Title</a></h3>
                            <div class="blog-post-info"><span><i class="fa fa-folder"></i> @item.Category</span> <span><i class="fa fa-user"></i> @item.AuthorName </span> </div>
                            <br />
                            <p>@item.ShortDescription</p>
                        </div>
                        <br />
                    </div>
                </div>
                <!--end item-->
            }
        </div>
    </div>
</section>
<div class="clearfix"></div>
<!-- end section -->